.grid-1x {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1rf;
}

.grid-2x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1rf;
}

.grid-3x {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1rf;
}

.grid-4x {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1rf;
}

.grid-box {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 2em;
}

.grid-box-reactive:hover {
    font-size: 120%;
}

a:hover {
    color: red;
}
