body {
    font-family: "Ubuntu";
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.menu-bar {
    margin-left: 2em;
    margin-right: 2em;
}

.menu-item {
    width: fit-content;
    text-decoration: none;
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 60%;
}
