{% extends "head.html" %} {% block content %}
<div class="div-center">
    <pre class="ascii-art-box">
 _      __    __                     __
| | /| / /__ / /______  __ _  ___   / /____    __ _  __ __
| |/ |/ / -_) / __/ _ \/  ' \/ -_) / __/ _ \  /  ' \/ // /
|__/|__/\__/_/\__/\___/_/_/_/\__/  \__/\___/ /_/_/_/\_, /
                                                   /___/</pre
    >
</div>
<div class="div-center">
    <pre class="ascii-art-box">
                __         _ __       __
 _      _____  / /_  _____(_) /____  / /
| | /| / / _ \/ __ \/ ___/ / __/ _ \/ /
| |/ |/ /  __/ /_/ (__  ) / /_/  __/_/
|__/|__/\___/_.___/____/_/\__/\___(_)</pre
    >
</div>

{% endblock content %}
