{% extends "head.html" %} {% block content %}
<pre class="div-center">
     _       __       __                                 __
    | |     / /___   / /_____ ____   ____ ___   ___     / /_ ____     ____ ___   __  __
    | | /| / // _ \ / // ___// __ \ / __ `__ \ / _ \   / __// __ \   / __ `__ \ / / / /
    | |/ |/ //  __// // /__ / /_/ // / / / / //  __/  / /_ / /_/ /  / / / / / // /_/ /
    |__/|__/ \___//_/ \___/ \____//_/ /_/_/_/ \___/   \__/_\____/  /_/ /_/ /_/ \__, /
                        _      __ ___   / /_   _____ (_)/ /_ ___   / /        /____/
                       | | /| / // _ \ / __ \ / ___// // __// _ \ / /
                       | |/ |/ //  __// /_/ /(__  )/ // /_ /  __//_/
                       |__/|__/ \___//_.___//____//_/ \__/ \___/(_) </pre
>

{% endblock content %}
